:root {
  --cor-de-fundo: rgb(109, 135, 100);
  --cor-de-letra: rgb(201, 83, 183);
  }
  h1{
color: rgb(97, 83, 118);
font-size: 2 em;
  }
 
 
body {
  background-color: rgb(150, 71, 83) var(--cor-de-fundo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  
}
 input[type="text"],
 input[type="Email"],
 input[type="password"],
 select, textarea {
  width: 100%; padding: 8px 4px; border: 1px solid #ba98b9; 
  border-radius: 4px;
 }

button {
    background-color: #d2cdde;
    color: var(--cor-de-letra);
    padding: 8px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(24, 40, 159);
}

header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navegação {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: rgb(75, 101, 9);
    position: relative;
    background-color: #7a00ae;
}

.nav-desktop a {
    color: rgb(4, 14, 37);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.nav-desktop a:hover {
    color: #591d41;
}

.pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--cor-de-letra);
    width: 192px;
    border: 1px solid #272626;
    border-radius: 16px;
    
    
}

.pesquisa input {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 16px;
    
}

.pesquisa button {
    background-color: #756e8d;
    border: none;
    border-radius: 16px;
}

.pesquisa button:hover {
    background-color: #1f1287;
}

.menu-escondido,
.menu {
    display: none;
}

.linha {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--cor-de-letra);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    color: #26106f;
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #6c9599;
    z-index: 1000;
}

.menu li {
    text-align: center;
    
}

.menu li a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 16px;
}

.menu li a:hover {
    color: #383037;
}

.menu-escondido:checked~.menu {
    max-height: 500px;
    padding: 8px 0;
}

.menu-escondido:checked~.hamburguer .linha1 {
    transform: rotate(45deg) translate(8px, 8px);
}

.menu-escondido:checked~.hamburguer .linha2 {
    opacity: 0;
}

.menu-escondido:checked~.hamburguer .linha3 {
    transform: rotate(-45deg) translate(8px, -8px);
}
.usuario a {
    text-decoration: none; 
    color: inherit; 
}

.carrossel {
    width: 100%;
    height: 384px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.seta:hover {
    background-color: blueviolet;
}

.esquerda {
    transform: rotate(180deg);
}

.contendo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4px;
    max-width: 1088px;
}

.card {
    width: 256px;
    margin: 4px 8px;
    background-color: var(--cor-de-letra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.card>a {
    width: 80%;
    text-decoration: none;
    text-align: center;
    color: var(--cor-de-letra);
    padding: 8px 0;
    background-color: #0e1f4d;
    border-radius: 16px;
}

.card>a:hover {
    background-color: #250e35;
}

@media (min-width: 601px) and (max-width: 1200px) {
    h1 {
        font-size: 1.75em;
        block-size: auto;
    }

    button {
        width: 100%;
        border-radius: 0px;
        margin-bottom: 10px;
    }

}
@media (max-width: 800px) {
    /* Geral e Menu Mobile */
    .seta {
        width: auto;
    }

    }    .card {
        width: 100%;
        margin: 4px 8px;
        padding-bottom: 8px;
    }

    .nav-desktop, .usuario {
        display: none;
    }

    .menu {
        display: block;
    }

    .hamburguer {
        cursor: pointer;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 36px;
        height: 36px;
    }


    .hamburguer:hover .linha {
        background-color: #0c0810;
    }

    

    
    